<script lang="ts" setup>
import { storeToRefs } from 'pinia'
import { useAuthStore } from '~/store/auth'
import { useTasksStore } from '~/store/tasks'
import { useToask } from '~/store/toask';

// auth
const authStore = useAuthStore()
const { setApiToken, clearApiToken } = authStore
const { apiToken } = storeToRefs(authStore)
const bearerTokenCookie = useCookie<{ token: string }>('token')

// tasks
const tasksStore = useTasksStore()
const { testConeccion } = tasksStore;

// page
const router = useRouter()
const toaskStore = useToask()
const { setToaskValues } = toaskStore;

// form
const formValid = ref(null)
const bearerToken = ref('')
const ButtonDisabled = computed(() => {
  return !bearerToken.value || !formValid.value;
})

const rules = ref({
  required: value => !!value || 'Es requerido.',
  minCharacters: value => value.length >= 125 || 'Longitud minima no permitida'
})

const SendToken = async() => {
  setApiToken(bearerToken.value)

  await testConeccion(apiToken.value).then(
    (response) => {
      const data = response.data.value
      const error = response.error.value
      if (error) {
        clearApiToken()
        setToaskValues('Token no valido', 'red-accent-4')
        bearerTokenCookie.value = null
      } else {
        bearerTokenCookie.value = {token: bearerToken.value}
        setToaskValues('Token valido, redireccionando...', 'green-accent-4')
        router.push({path: '/'});
      }
    }, (error) => {
      console.log('exception...')
      console.log(error)
      clearApiToken()
    }
  )
}

</script>

<template>
  <div>
    <section>
      <v-container class="h-75 d-flex align-content-end">
        <v-row>

          <!-- Left -->
          <v-col xl="5" lg="6" md="6" sm="12" cols="12" class="ml-auto my-auto">
            <h1>
              Para poder ver el contenido
            </h1>
            <h2>
              se requiere de un token
            </h2>
          </v-col>

          <!-- Right -->
          <v-col xl="5" lg="6" md="6" sm="12" cols="12" class="ml-auto my-auto">
            <div class="card br-10 p-5">
              <h2 class="fw-bold mb-4">
                Inicia sesión
              </h2>
              <v-form @submit.prevent v-model="formValid">
                <v-textarea
                  v-model="bearerToken"
                  :rules="[rules.required, rules.minCharacters]"
                  auto-grow
                  rows="2"
                  row-height="8"
                  label="Ingrese token"
                  required
                  clearable
                  variant="outlined"
                />

                <v-btn type="submit" block :disabled="ButtonDisabled" class="mt-2 text-caption" @click="SendToken()">
                  <span class="text-h6">
                    Iniciar sesion
                  </span>
                </v-btn>
              </v-form>

              <p class="btn text-right text-decoration-none cursor-not-allowed text-primary text-link mt-2 mb-0">
                ¿Olvidaste tu token? ¡Recuperala aquí!
              </p>
              <p v-if="bearerTokenCookie">
                Ya tienes credenciales papu
              </p>
              <p v-else>
                No tienes credenciales, inicia sesión
              </p>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<style lang="css" scoped>
.h-75{
  height: 80dvh !important;
}
</style>