<script setup>
import { storeToRefs } from 'pinia'
import { useTasksStore } from '~/store/tasks'
import { useAuthStore } from '~/store/auth'
import { useToask } from '~/store/toask';

definePageMeta({
  middleware: ["auth"]
});

// Auth
const authStore = useAuthStore()
const { apiToken } = storeToRefs(authStore)

// tasks
const tasksStore = useTasksStore()
const { createTask } = tasksStore;

// page
const router = useRouter()
const toaskStore = useToask()
const { setToaskValues } = toaskStore;

// form
const itemsTags = ref([
  'Urgente',
  'Prioridad alta',
  'Prioridad media',
  'Prioridad baja',
])

const formValid = ref(null)
const form = reactive({
  title: ref(''),
  is_completed: ref(false),
  description: ref(''),
  comments: ref(''),
  due_date: ref(),
  tags: ref([]),
  token: apiToken.value
})

const ButtonDisabled = computed(() => {
  return !form.title || !formValid.value;
})
const SendForm = async() => {
  form.tags = form.tags.join()
  await createTask(form, apiToken.value).then(
    (response) => {
      const data = response.data.value
      const error = response.error.value
      if (error) {
        console.error("🚀 ", error)
        setToaskValues('Error al crear la tarea', 'red-accent-4')
      } else {
        ClearInputs()
        setToaskValues(`${data.detail}, redireccionando...`, 'green-accent-4')
        router.push({path: '/'});
      }
    }, (error) => {
      console.log('exception...')
      console.log(error)
    }
  )
}

const ClearInputs = () => {
  form.title = '',
  form.is_completed = false,
  form.description = '',
  form.comments = '',
  form.due_date = null
  form.tags = []
}

const rules = ref({
  required: value => !!value || 'Es requerido.',
})
</script>

<template lang="">
  <v-container>
    <v-form @submit.prevent v-model="formValid">
      <v-row>
        <v-col lg="10" md="9" sm="12" cols="12">
          <v-row>
            <v-col cols="1" class="my-auto text-center">
              <nuxt-link to="/" class="shadow-hover">
                <v-icon class="text-primary" icon="mdi-chevron-left" />
              </nuxt-link>
            </v-col>
            <v-col>
              <h2>
                Crear nueva tarea
              </h2>
            </v-col>
          </v-row>
        </v-col>
        <v-col lg="10" md="9" sm="12" cols="12">
          <v-text-field
            v-model="form.title"
            :rules="[rules.required]"
            label="Titulo de la tarea"
            required
            clearable
            variant="outlined"
          />
        </v-col>
        <v-col lg="2" md="3" sm="6" cols="12">
          <v-switch
            v-model="form.is_completed"
            :label="`${form.is_completed ? 'Completada' : 'No completada'}`"
            :color="`${form.is_completed ? 'success' : 'warning'}`"
            inset
          />
        </v-col>
        <v-col lg="4" md="5" sm="6" cols="12">
          <v-text-field
            type="date"
            label="Fecha"
            v-model="form.due_date"
            variant="outlined"
            min="1900-01-01"
            max="2023-12-31"
          />
        </v-col>
        <v-col lg="8" md="7" sm="12" cols="12">
          <v-combobox
            v-model="form.tags"
            :items="itemsTags"
            label="Tags"
            multiple
            chips
            variant="outlined"
          />
        </v-col>
        <v-col lg="6" md="6" sm="12" cols="12">
          <v-textarea
            v-model="form.description"
            auto-grow
            rows="2"
            row-height="8"
            label="Descripción"
            clearable
            variant="outlined"
          />
        </v-col>
        <v-col lg="6" md="6" sm="12" cols="12">
          <v-textarea
            v-model="form.comments"
            auto-grow
            rows="2"
            row-height="8"
            label="Comentarios"
            clearable
            variant="outlined"
          />
        </v-col>
      </v-row>

      <v-btn type="submit" block :disabled="ButtonDisabled" class="mt-2 text-none bg-green-darken-1" @click="SendForm()">
          Crear
      </v-btn>
    </v-form>
  </v-container>
</template>

<style lang="css" scoped>
</style>