<script lang="ts" setup>
import { useAuthStore } from '~/store/auth'
import { storeToRefs } from 'pinia'

// Auth
const authStore = useAuthStore()
const { apiToken } = storeToRefs(authStore)

const menuItems = ref([
  { title: 'Inicio', path: '/', icon: 'mdi-home' },
  { title: apiToken.value ? 'Cerrar sesion':'Iniciar sesion', path: apiToken.value ? 'logout':'/login', icon: apiToken.value ? 'mdi-logout':'mdi-login' }
])
const appTitle = 'Lista de tareas'
const sidebar = ref(false)
</script>

<template>
  <v-layout>
    <v-app-bar
      color="primary"
      flat
    >
      <v-app-bar-nav-icon variant="text" @click.stop="sidebar = !sidebar" class="d-flex d-sm-none">
      </v-app-bar-nav-icon>

      <v-toolbar-title>{{appTitle}}</v-toolbar-title>

      <v-spacer></v-spacer>

      <nuxt-link
        v-for="item in menuItems"
        :key="item.title"
        :to="item.path"
        class="d-none d-sm-flex px-2 h-100 align-center text-decoration-none hover:text-blue custom-navbar"
      >
        <v-icon class="mr-3">{{ item.icon }}</v-icon>
        {{ item.title }}
      </nuxt-link>
    </v-app-bar>

    <v-navigation-drawer
      v-model="sidebar"
      location="left"
      temporary
    >
      <v-list>
        <v-list-item
          v-for="item in menuItems"
          :key="item.title+'drawer'"
          :to="item.path"
          router
          exact
          @click.stop="sidebar = !sidebar"
        >
          <v-list-item-action class="">
            <v-icon class="mr-3">{{ item.icon }}</v-icon>
            {{ item.title }}
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-layout>
</template>

<style lang="css" scoped>
.custom-navbar{
  color: white !important;
}
.custom-navbar:hover{
  color: white !important;
  background: black;
}
</style>
