<script setup>
import { storeToRefs } from 'pinia'
import { useTasksStore } from '~/store/tasks'
import { useAuthStore } from '~/store/auth'
import { useToask } from '~/store/toask';

definePageMeta({
  middleware: ["auth"]
});

// Auth
const authStore = useAuthStore()
const { apiToken } = storeToRefs(authStore)

// tasks
const tasksStore = useTasksStore()
const { updateTask, getTasksId, deleteTask } = tasksStore;

// page
const router = useRouter()
const route = useRoute()
const toaskStore = useToask()
const { setToaskValues } = toaskStore;
const statusSnack = ref(false)
const messageSnack = ref('')
let editTask = ref(false)
let activeDeleteTask = ref(false)

// form
const itemsTags = ref([
  'Urgente',
  'Prioridad alta',
  'Prioridad media',
  'Prioridad baja',
])

const formValid = ref(null)
const form = reactive({
  title: ref(''),
  is_completed: ref(false),
  description: ref(''),
  comments: ref(''),
  due_date: ref(),
  tags: ref([]),
  token: apiToken.value
})

const ButtonDisabled = computed(() => {
  return !form.title || !formValid.value;
})
const SendForm = async() => {
  await updateTask(form, task_id.value, apiToken.value).then(
    (response) => {
      const data = response.data.value
      const error = response.error.value
      if (error) {
        console.error("🚀 ", error)
        setToaskValues('Error al actualizar la tarea', 'red-accent-4')
      } else {
        ClearInputs()
        setToaskValues(`${data.detail}, redireccionando...`, 'green-accent-4')
        router.push({path: '/'});
      }
    }, (error) => {
      console.log('exception...')
      console.log(error)
    }
  )
}

const DeleteTask = async () => {
  await deleteTask(task_id.value, apiToken.value).then(
    (response) => {
    const data = response.data.value
    const error = response.error.value
    activeDeleteTask = false
    if (error) {
      setToaskValues('No se puede eliminar', 'red-accent-4')
    } else {
      setToaskValues(`Tarea eliminada`, 'green-accent-4')
      router.push({path: '/'});
    }
  })
}
const ChargeInfo = (item) => {
  form.title = item.title
  form.is_completed = item.is_completed
  form.description = item.description
  form.comments = item.comments
  form.due_date = item.due_date
  form.tags = item.tags ? item.tags.split(',') : []
}

// Get data
const task_id = computed(() => `${route.params.id}`);
let dataTask = ref()
await getTasksId(task_id.value, apiToken.value).then(
  (response) => {
    const data = response.data.value
    const error = response.error.value
    if (error) {
      setToaskValues('No se puede consultar', 'red-accent-4')
    } else {
      dataTask = data[0]
      ChargeInfo(dataTask)
    }
  }
)

const ClearInputs = () => {
  form.title = '',
  form.is_completed = false,
  form.description = '',
  form.comments = '',
  form.due_date = new Date().toISOString().substr(0, 10)
  form.tags = []
}

const rules = ref({
  required: value => !!value || 'Es requerido.',
})
</script>

<template lang="">
  <v-container v-if="dataTask">
    <v-row>
      <v-col sm="9" cols="12" class="mb-5">
        <v-row>
          <v-col cols="1" class="my-auto text-center">
            <nuxt-link to="/" class="shadow-hover">
              <v-icon class="text-primary" icon="mdi-chevron-left" />
            </nuxt-link>
          </v-col>
          <v-col>
            <h2>
              {{editTask ? 'Estas actualizando esta tarea' : 'Información de la tarea'}}
            </h2>
          </v-col>
        </v-row>
      </v-col>

      <!-- active edit -->
      <v-col sm="3" cols="12" class="mb-5">
        <v-spacer></v-spacer>
        <v-switch
          v-model="editTask"
          :label="editTask ? 'Editando' : 'Activar para editar'"
          color="warning"
          value="warning"
          hide-details
          center-affix
        />
      </v-col>
    </v-row>

    <!-- Vee info -->
    <v-form @submit.prevent v-model="formValid">
      <v-row>
        <v-col lg="10" md="9" sm="12" cols="12">
          <v-text-field
            v-model="form.title"
            :rules="[rules.required]"
            label="Titulo de la tarea"
            required
            :clearable="editTask"
            :readonly="!editTask"
            :variant="editTask ? 'outlined':'underlined'"
          />
        </v-col>
        <v-col lg="2" md="3" sm="6" cols="12">
          <v-switch
            v-model="form.is_completed"
            :label="`${form.is_completed ? 'Completada' : 'No completada'}`"
            :color="`${form.is_completed ? 'success' : 'warning'}`"
            inset
            :readonly="!editTask"
          />
        </v-col>
        <v-col lg="4" md="5" sm="6" cols="12">
          <v-text-field
            type="date"
            label="Fecha"
            v-model="form.due_date"
            min="1900-01-01"
            max="2023-12-31"
            :readonly="!editTask"
            :variant="editTask ? 'outlined':'underlined'"
          />
        </v-col>
        <v-col lg="8" md="7" sm="12" cols="12">
          <v-combobox
            v-model="form.tags"
            :items="itemsTags"
            label="Tags"
            multiple
            chips
            :readonly="!editTask"
            :variant="editTask ? 'outlined':'underlined'"
          />
        </v-col>
        <v-col lg="6" md="6" sm="12" cols="12">
          <v-textarea
            v-model="form.description"
            auto-grow
            rows="2"
            row-height="8"
            label="Descripción"
            :clearable="editTask"
            :readonly="!editTask"
            :variant="editTask ? 'outlined':'underlined'"
          />
        </v-col>
        <v-col lg="6" md="6" sm="12" cols="12">
          <v-textarea
            v-model="form.comments"
            auto-grow
            rows="2"
            row-height="8"
            label="Comentarios"
            :clearable="editTask"
            :readonly="!editTask"
            :variant="editTask ? 'outlined':'underlined'"
          />
        </v-col>
      </v-row>

      <v-btn v-if="editTask" type="submit" block :disabled="ButtonDisabled" class="mt-2 text-none bg-green-darken-1" @click="SendForm()">
        <span>
          Actualizar
        </span>
      </v-btn>
    </v-form>

    <!-- Delete -->
    <v-row class="">
      <hr class="w-100 my-10">
      <v-col sm="9" cols="12" class="mb-5">
        <h2>
          ¿Deseas eliminar esta tarea?
        </h2>
      </v-col>
      <v-col sm="3" cols="12" class="mb-5">
        <v-dialog
          v-model="activeDeleteTask"
          persistent
          width="auto"
        >
          <template v-slot:activator="{ props }">
            <v-btn
              color="red"
              @click="activeDeleteTask = true"
              class="text-none"
            >
              Eliminar
            </v-btn>
          </template>

          <v-card>
            <v-card-text>
              ¿Confirmas eliminar esta tarea?
            </v-card-text>
            <v-card-actions>
                <v-btn
                  color="green-darken-1"
                  variant="text"
                  class="text-none"
                  @click="activeDeleteTask = false"
                >
                  Cancelar
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  color="red"
                  variant="text"
                  class="text-none"
                  @click="DeleteTask()"
                >
                  Eliminar
                </v-btn>
              </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>

<style lang="css" scoped>
</style>