.box-shadow{
  box-shadow: 0 8px 19px 0 rgb(3 9 30 / 9%);
}

.efect-float{
  transition: transform 0.2s ease 0s;
}
.efect-float:hover{
  transform: translateY(-8px);
}
.text-link:hover{
  color: #014973 !important;
  font-weight: 600;
}
.cursor-not-allowed{
  cursor: not-allowed;
  opacity: 0.5;
}
.bg-gray-primary{
  background: #F1F2F3;
}
.br-line{
  border-right: solid thin #0179BF;
}
.shadow-hover:hover{
  background: #d2d2d2 !important;
  border-radius: 21px;
}