<script lang="ts" setup>
import { storeToRefs } from 'pinia'
import { useToask } from '~/store/toask';

const toaskStore = useToask()
const { message } = storeToRefs(toaskStore)
const { clearValues } = toaskStore;
</script>

<template>
  <div>
    <landing-nav class="mb-16"/>
    <slot />
    <landing-footer />

    <!-- Message toast -->
    <v-snackbar
      v-model="message.status"
      location="top right"
      content-class="mt-15 text-white"
      :color="message.color"
    >
      {{ message.message }}

      <template v-slot:actions>
        <v-btn
          color="white"
          variant="text"
          class="text-none"
          @click="clearValues()"
        >
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<style scoped></style>
