<script lang="ts" setup>
definePageMeta({
  middleware: ["auth"]
});

import { useTasksStore } from '~/store/tasks'
import { useAuthStore } from '~/store/auth'
import { storeToRefs } from 'pinia'

// auth
const authStore = useAuthStore()
const { apiToken } = storeToRefs(authStore)

// tasks
const tasksStore = useTasksStore()
const { getTasks } = tasksStore;
const { filtersList } = storeToRefs(tasksStore)

// page
const statusSnack = ref(false)
const messageSnack = ref('')

const { data:tasks } = await useAsyncData( 'tasks', async() => await getTasks(apiToken.value).then(
  (response) => {
    const data = response.data.value
    const error = response.error.value
    if (error) {
      statusSnack.value = true
      messageSnack.value = 'No se puede consultar'
    } else {
      return data
    }
  }
));
onMounted(async() => {
  const { data:tasks } = await useAsyncData( 'tasks', async() => await getTasks(apiToken.value).then(
  (response) => {
    const data = response.data.value
    const error = response.error.value
    if (error) {
      statusSnack.value = true
      messageSnack.value = 'No se puede consultar'
    } else {
      return data
    }
  }
));
})

const CustomURL = (item) => {
  return `/tarea/${item.title.substring(0,20)}-${item.id}`
}

</script>

<template lang="">
  <div class="bg-gray-primary">
    <v-container>
      <v-row  class="mt-5">
        <v-col sm="8" cols="12" class="">
          <h1>
            Listado de tareas
          </h1>
        </v-col>
        <v-col sm="4" cols="12" class="text-right my-auto">
          <nuxt-link to="/crear">
            <v-btn prepend-icon="mdi-plus" class="text-none bg-primary">
              Crear nueva tarea
            </v-btn>
          </nuxt-link>
        </v-col>
        <v-col cols="12">
        </v-col>

        <!-- List tasks -->
        <v-col v-for="(task, index) in tasks" :key="index+'task'" xl="4" sm="6" cols="12" class="efect-float">
          <v-card class="mx-auto bg-shades-white">
            <v-card-text>
              <v-row>
                <v-col cols="1" class="text-left my-auto">
                  <v-icon
                    :class="task.is_completed ? 'text-green-lighten-1' : 'text-amber-lighten-2'"
                    :icon="task.is_completed ? 'mdi-check-circle' : 'mdi-circle-outline'"
                  />
                </v-col>
                <v-col>
                  <v-row>
                    <v-col class="pl-lg-0 pb-0 pb-sm-3 my-auto">
                      {{ task.title.length < 99 ? task.title : task.title.substring(0,99)+'...' }}
                    </v-col>
                    <v-col md="3" sm="4" cols="12" class="pt-0 pt-sm-3 my-auto">
                      {{task.due_date}}
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="1" class="text-center my-auto py-0 px-0">
                  <nuxt-link :to="CustomURL(task)" class="icon-hover">
                    <v-icon class="text-grey-lighten-1" icon="mdi-eye" />
                  </nuxt-link>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="css" scoped>
.icon-hover:hover i{
  color: #0179BF !important;
}
</style>