<script lang="ts" setup>
import { useAuthStore } from '~/store/auth'

definePageMeta({
  middleware: ["auth"]
});

// Auth
const isLoggedIn = useCookie<{ token: string }>('token')
const authStore = useAuthStore()
const { clearApiToken } = authStore

const router = useRouter()

onMounted(() => {
  clearApiToken()
  isLoggedIn.value = null

  setTimeout(() => {
    router.push({path: '/login'});
  }, 1000);
})
</script>

<template lang="">
  <div>
    <h2>
      Adios...
    </h2>
  </div>
</template>

<style lang="" scoped>
</style>